In [6]:
import bs4
import re
import pandas as pd
import urllib
from urllib.request import Request
import datetime
import time
import re

In [14]:
## création d"une liste de dates 
liste_dates=[]
j = datetime.date(2021,5,10)
while j > datetime.date(2021, 2, 2):
    liste_dates.append(j.strftime("%d-%m-%Y"))
    j = j + datetime.timedelta(days=-1)
liste_dates[-1]

'03-02-2021'

In [22]:
# création de 2 listes l'une contient les articles, l'autre le jour de publication.
liste_titres = []
liste_jour_publication = []
liste_categorie =[]
liste_auteurs =[]
for d in liste_dates:
    ## exploration des pages internet en ajoutant la date à un début d'url
    status = 999
    compt = 1
    while status != 404:
        try:
            page_explorée = "https://www.lemonde.fr/archives-du-monde/" + str(d) + "/" + str(compt)+ "/"
            req_1 = urllib.request.Request(page_explorée,headers={'User-Agent': 'Mozilla/5.0'})
            request_text = request.urlopen(req_1).read()
            page = bs4.BeautifulSoup(request_text, "lxml")
            for section in page.findAll("section" , {'class':'teaser teaser--inline-picture'}): 
                liste_a =[]
            # récupération des auteurs
                for auteur in section.findAll("span",{'class':"meta__author meta__author--page"}):
                    liste_a.append((auteur.get_text()))
                liste_auteurs.append(liste_a) # ajout de la liste d'auteur associé à l'article   

                for titre in section.findAll("h3", {'class' : "teaser__title"}):
                    t = titre.get_text()
                    liste_titres.append(t)
                for categorie in section.findAll("a", {'class' : "teaser__link"}):
                    cat = categorie.get('href', None)
                    cat = re.findall('.*www.lemonde.fr/(.*)/article*', cat)
                    if len(cat)==0:
                        cat = ['']
                    liste_categorie.append(cat[0])
                liste_jour_publication.append(d)     
            compt+=1  
        except Exception as e:
            status = 404

print(len(liste_titres), len(liste_auteurs),len(liste_categorie))

HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
HTTP Error 404: Page Not Found
9523 9523 9523

# actualisation des articles
## création d"une liste de dates 
liste_dates_maj=[]
j_maj = datetime.date.today()
while j_maj >= datetime.date(2018, 1, 1):
    liste_dates_maj.append(j_maj.strftime("%d-%m-%Y"))
    j_maj = j_maj + datetime.timedelta(days=-1)
liste_dates_maj[:1]

In [23]:
# création d'un df avec 4 colonnes
df = pd.DataFrame({'jour_publication':liste_jour_publication, 'titre':liste_titres,'auteur':liste_auteurs, 'categorie':liste_categorie})
df

,jour_publication,titre,auteur,categorie
0,10-05-2021,Castex annonce un durcissement des peines cont...,[Le Monde avec AFP et Reuters],societe
1,10-05-2021,Nouvel incident dans le détroit d’Ormuz entre ...,[Le Monde avec AFP et Reuters],international
2,10-05-2021,La France est « en train de sortir durablement...,[Le Monde avec AFP et Reuters],planete
3,10-05-2021,« Agent orange » : la justice déboute Tran To Nga,[Martine Valo],societe
4,10-05-2021,Sciences Po tourne la page Olivier Duhamel,[Soazig Le Nevé],societe
...,...,...,...,...
9518,03-02-2021,Emmanuel Macron veut rassurer à propos de la c...,[Olivier Faye],politique
9519,03-02-2021,"En Russie, la contestation au temps des grands...",[Benoît Vitkine],international
9520,03-02-2021,Qui recrutera un cadre avant le printemps ?,[Anne Rodier],emploi
9521,03-02-2021,"Richard Malka, avocat de « Charlie Hebdo » en ...",[Vanessa Schneider],societe
9522,03-02-2021,"Neige, glissades et avalanche, sept films pour...",[Le Monde],cinema

def enumeration(liste):
    auteurs = []
    if len(liste)==1:
        auteurs.append(str(liste[0]))
    else :
        for a in liste:
            auteurs.append(str(a))
    return auteurs
        
df.auteur = df.auteur.map(lambda x : enumeration(x))
df

table_auteurs = []

for a in df.auteur :
    if len(a)==1:
        table_auteurs.append(str(a[0]))
    else :
        for a1 in a:
            if isinstance(a1, list) & len(a1)==1:
                table_auteurs.append(a1[0])
            elif isinstance(a2, list) & len(a2)>1:
                for a2 in a1:
                    table_auteurs.append(a2)
table_auteurs

In [25]:
# enregistrement en csv
df.to_csv('csv/df_titres_lemonde_last.csv', index=False)

In [225]:
df_articles = df.copy()

In [422]:
# récupération du csv
df_articles = pd.read_csv('df_titres_lemonde.csv')
df_articles = df_articles.rename(columns = {'jour_publication': 'date_publication'})
df_articles

,date_publication,titre,auteur,categorie
0,01-02-2021,"Pour les galeries d’art, une situation moins s...",['Roxana Azimi'],economie
1,01-02-2021,Quand la masturbation provoque une hémorragie ...,['Marc Gozlan'],NaN
2,01-02-2021,Les pistes de la France pour améliorer les ter...,['Julien Bouissou'],economie
3,01-02-2021,Facebook et Apple se livrent une guerre ouverte,['Alexandre Piquard'],economie
4,01-02-2021,"Kent Walker : « Google agit selon les lois, et...",['Kent Walker'],pixels
...,...,...,...,...
118300,01-01-2018,Corée du Nord : Kim Jong-un dit vouloir amélio...,['Le Monde avec AFP et Reuters'],asie-pacifique
118301,01-01-2018,Les célébrations du Nouvel An 2018 en images,"['Le Monde avec AFP, AP et Reuters']",NaN
118302,01-01-2018,Marseille : un homme tué à la kalachnikov la n...,['Le Monde avec AFP'],police-justice
118303,01-01-2018,Douze morts dans un accident d’avion au Costa ...,['Le Monde avec AFP'],ameriques
118304,01-01-2018,Iran : le président Rohani sur la corde raide ...,['Ghazal Golshiri'],proche-orient

In [396]:
df_articles.categorie.isnull().value_counts()

False    112588
True       5717
Name: categorie, dtype: int64

In [397]:
l =[]
for i in df_articles.categorie:
    if type(i)==str:
        l.append(i)
    else:
        l.append("null")
df_articles['categorie']=l
df_articles

,date_publication,titre,auteur,categorie
0,01-02-2021,"Pour les galeries d’art, une situation moins s...",['Roxana Azimi'],economie
1,01-02-2021,Quand la masturbation provoque une hémorragie ...,['Marc Gozlan'],null
2,01-02-2021,Les pistes de la France pour améliorer les ter...,['Julien Bouissou'],economie
3,01-02-2021,Facebook et Apple se livrent une guerre ouverte,['Alexandre Piquard'],economie
4,01-02-2021,"Kent Walker : « Google agit selon les lois, et...",['Kent Walker'],pixels
...,...,...,...,...
118300,01-01-2018,Corée du Nord : Kim Jong-un dit vouloir amélio...,['Le Monde avec AFP et Reuters'],asie-pacifique
118301,01-01-2018,Les célébrations du Nouvel An 2018 en images,"['Le Monde avec AFP, AP et Reuters']",null
118302,01-01-2018,Marseille : un homme tué à la kalachnikov la n...,['Le Monde avec AFP'],police-justice
118303,01-01-2018,Douze morts dans un accident d’avion au Costa ...,['Le Monde avec AFP'],ameriques
118304,01-01-2018,Iran : le président Rohani sur la corde raide ...,['Ghazal Golshiri'],proche-orient

In [398]:
df_articles.iloc[0].titre

'Pour les galeries d’art, une situation moins sombre que redouté'

In [399]:
print("Nbre de catgéories",len(df_articles.categorie.unique()))

Nbre de catgéories 369

In [400]:
print("Catégorie les plus représentées :")
df_articles.categorie.value_counts()[:50]

Catégorie les plus représentées :

international            12749
economie                 10394
idees                     9909
afrique                   7671
societe                   6935
politique                 6619
culture                   6212
null                      5717
planete                   4682
sport                     3224
pixels                    3111
les-decodeurs             2242
m-le-mag                  2189
livres                    2072
sciences                  2012
campus                    1950
police-justice            1565
argent                    1514
europe                    1491
m-styles                  1439
disparitions              1415
m-perso                   1370
ameriques                 1081
football                  1064
cinema                     961
emploi                     903
televisions-radio          801
actualite-medias           631
musiques                   604
asie-pacifique             598
proche-orient              532
mondephilatelique          523
sante                      511
mondial-2018               510
m-actu                     479
festival                   475
education                  443
critique-litteraire        412
m-gastronomie              408
en-bref                    380
climat                     353
big-browser                318
blog-mediateur             316
entreprises                316
les-recettes-du-monde      300
arts                       299
series-d-ete               291
scenes                     261
contes                     228
smart-cities               217
Name: categorie, dtype: int64

In [ ]:
import spacy
from spacy.lang.fr import French

# Load English tokenizer, tagger, parser, NER and word vectors
nlp = French()

text = """Je suis une femme de 40 ans."""

#  "nlp" Object is used to create documents with linguistic annotations.
my_doc = nlp(text)

# Create list of word tokens
token_list = []
for token in my_doc:
    token_list.append(token.text)

In [ ]:
from spacy.lang.fr.stop_words import STOP_WORDS

# Create list of word tokens after removing stopwords
filtered_sentence =[] 

for word in token_list:
    lexeme = nlp.vocab[word]
    if lexeme.is_stop == False:
        filtered_sentence.append(word) 
print(token_list)
print(filtered_sentence)

In [3]:
df = pd.read_csv('./csv/df_titres_lemonde.csv')
df

,jour_publication,titre,auteur,categorie
0,01-02-2021,"Pour les galeries d’art, une situation moins s...",['Roxana Azimi'],economie
1,01-02-2021,Quand la masturbation provoque une hémorragie ...,['Marc Gozlan'],NaN
2,01-02-2021,Les pistes de la France pour améliorer les ter...,['Julien Bouissou'],economie
3,01-02-2021,Facebook et Apple se livrent une guerre ouverte,['Alexandre Piquard'],economie
4,01-02-2021,"Kent Walker : « Google agit selon les lois, et...",['Kent Walker'],pixels
...,...,...,...,...
118300,01-01-2018,Corée du Nord : Kim Jong-un dit vouloir amélio...,['Le Monde avec AFP et Reuters'],asie-pacifique
118301,01-01-2018,Les célébrations du Nouvel An 2018 en images,"['Le Monde avec AFP, AP et Reuters']",NaN
118302,01-01-2018,Marseille : un homme tué à la kalachnikov la n...,['Le Monde avec AFP'],police-justice
118303,01-01-2018,Douze morts dans un accident d’avion au Costa ...,['Le Monde avec AFP'],ameriques
118304,01-01-2018,Iran : le président Rohani sur la corde raide ...,['Ghazal Golshiri'],proche-orient

In [5]:
df.categorie.value_counts()[:20]

international     12749
economie          10394
idees              9909
afrique            7671
societe            6935
politique          6619
culture            6212
planete            4682
sport              3224
pixels             3111
les-decodeurs      2242
m-le-mag           2189
livres             2072
sciences           2012
campus             1950
police-justice     1565
argent             1514
europe             1491
m-styles           1439
disparitions       1415
Name: categorie, dtype: int64